Django==1.8.14
Pillow==2.9.0
PyJWT==1.4.2
argparse==1.2.1
django-debug-toolbar==1.5
django-extensions==1.7.1
oauthlib==1.1.2
python-openid==2.2.5
requests==2.11.0
requests-oauthlib==0.6.2
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.2.0
wsgiref==0.1.2
